<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umbrella Keys - About</title>
    <link rel="stylesheet" href="/public/output.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <section class="font-interFont">
      <!-- Overview -->
      <div id="overviewContainer">
        <div class="mt-5">
          <div class="text-center">
            <h2
              class="text-3xl font-bold font-nichromeFont tracking-tight text-gray-900 sm:text-4xl"
            >
              About Us
            </h2>
          </div>
        </div>

        <div id="overviewStatement" class="p-5">
          <p>
            Founded in 2020, Umbrella Keys has quickly become the go-to
            destination for mechanical keyboard enthusiasts in South Africa. We
            offer a wide range of mechanical keyboards, keycaps, switches, and
            accessories, carefully curated to meet the demands of both beginners
            and seasoned enthusiasts.
          </p>
        </div>
      </div>
      <!-- Overview end -->
      <!-- Mission -->
      <div id="missionContainer">
        <div class="mt-5">
          <div class="text-center">
            <h2
              class="text-3xl font-bold font-nichromeFont tracking-tight text-gray-900 sm:text-4xl"
            >
              Our Mission
            </h2>
          </div>

          <div id="missionStatement" class="p-5">
            <p>
              At Umbrella Keys, our mission is to provide mechanical keyboard
              enthusiasts in South Africa with high-quality, customizable, and
              innovative keyboard solutions. We are passionate about delivering
              the best typing experience and helping our customers find the
              perfect keyboard that suits their needs and preferences.
            </p>
          </div>
        </div>
      </div>
      <!-- Mission end -->
      <!-- Team -->
      <div id="teamContainer">
        <div class="bg-white py-5 sm:py-12">
          <div
            class="mx-auto grid justify-items-center max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
          >
            <div class="text-center">
              <h2
                class="text-3xl font-bold font-nichromeFont tracking-tight text-gray-900 sm:text-4xl"
              >
                Our Team
              </h2>
              <p class="mt-6 text-lg leading-8">
                The dedicated individuals behind Umbrella Keys
              </p>
            </div>
            <ul
              role="list"
              class="grid items-center gap-x-12 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
            >
              <!-- Script handles team info population... -->
            </ul>
          </div>
        </div>
      </div>
      <!-- Team end -->
    </section>

    <div id="footer"></div>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/about.js"></script>
  </body>
</html>
