<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/output.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <!-- Lookbook -->
    <div id="lookbook-container" class="p-6">
      <div
        id="lookBookContainer"
        class="lg:col-span-3 grid justify-items-center grid-cols-1 gap-7 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3"
      >
      </div>
      <!-- Script will handle product population... -->
    </div>
    <!-- Lookbook end -->

    <div id="footer"></div>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/products.js"></script>
  </body>
</html>
