<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/output.css" />
  </head>
  <body>
    <div class="flex flex-col">
      <div class="flex justify-center items-center flex-col">
        <img src="/public/assets/images/comingSoon.png" alt="..." />
        <a class="underline" href="/public/index.html">Go back to homepage</a>
      </div>
    </div>
  </body>
</html>
