<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/public/output.css" />
  </head>
  <body>
    <footer class="bg-black text-white font-nichromeFont flex justify-center text-2xl">
      <div id="footerContainer" class="flex-col text-center flex gap-4 m-2">
        <div id="footerItems" class="">
          <span>Umbrella Keys</span>
        </div>
        <div id="redirectionContainer" class="underline underline-offset-1">
          <div id="footerItems" class="flex gap-6">
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
            <a href="#">Follow Us</a>
          </div>
        </div>
        <div id="footerItems" class="text-sm">
            <span>©</span>
            <span>Umbrella Keys</span>
        </div>
      </div>
    </footer>
  </body>
</html>
