<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/output.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
  </head>
  <body>
    <nav class="bg-black text-white font-nichromeFont p-3">
      <div
        id="navContainer"
        class="flex justify-between items-center ml-4 mr-4 cursor-pointer"
      >
        <div id="productsDropdownContainer">
          <span>Products</span>
        </div>
        <div id="logoContainer" class="flex justify-center">
          <div id="logo" class="flex items-center">
            <img src="/public/assets/images/logo.png" alt="site-logo" />
          </div>
        </div>

        <ul id="navItems" class="text-xl flex gap-2">
          <li>
            <a class="text-xl" href="#">
              <img
                src="/public/assets/images/icons/userIcon.png"
                alt="userIcon"
              />
            </a>
          </li>
          <li>
            <a class="text-xl" href="#">
              <img
                src="/public/assets/images/icons/shoppingBag.png"
                alt="shoppingBagIcon"
              />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
